%learn-more-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(247,148,66);
    border: none;
    border-radius: 10px;
    color: white;
    &:hover {
        cursor: pointer;
    }
}
%time {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 10px;
}