a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
.header-top {
    background-color: $primary-color;
    border-bottom: 1px solid hsla(0,0%,100%,.24);
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: #fff;
            font-weight: 500;
        }
        .logo {
            padding: 16px 0;
        }
        .search-login {
            form {
                position: relative;
                display: inline-block;
                input {
                    background: #fff;
                    border-radius: 12px;
                    font-weight: 400;
                    font-size: 16px;
                    border: none;
                    padding: 10px 10px 10px 55px;
                    width: 220px;
                }
                button {
                    position: absolute;
                    top: 8px;
                    left: 16px;
                    background: none;
                    border: none;
                }
            }
            a {
                font-size: 16px;
                margin-left: 35px;
                &:hover {
                    color: #fff;
                }

            }
        }
        .media-links {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            .media-link {
                font-size: 24px;
                align-items: center;
                margin-right: 55px;
                flex: 0 0 auto;
                .icon {
                    display: inline-block;
                    margin-right: 12px;
                    width: 24px;
                    height: 24px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.header-menu {
    background-color: $primary-color;
    .navbar {
        .settings {
            display: none;
        }
        .nav-item {
            margin-right: 50px;
            .nav-link {
                @extend %menu-link;
                line-height: $primary-line-height;
            }
        }
    }
    
    
}

@media only screen and (max-width: 1200px) {
    .logo {
        img {
            height: 26px;
        }
    }
    .media-link {
        font-size: 12px !important;
    }
    .search-login {
        input {
            height: 30px;
            width: 165px;
        }
        a {
            font-size: 13px !important;
        }
        button {
            top: 2px !important;
        }
    }
    .nav-item {
        margin-right: 40px !important;
    }
}
@media only screen and (max-width: 992px) {
    .logo {
        img {
            height: 26px;
        }
    }
    .navbar {
        .settings {
            display: block !important;
            margin-right: 10px;
            color: white;
            
        }
    }
    .search-login {
        input {
            display: none;
        }
       
        button {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
        }
        a {
            margin-left: 0 !important;
        }
    }
    
}
@media only screen and (max-width: 768px) {
    .media-link {
        margin-right: 10px !important;
        .icon {
            width: 17px !important;
            height: 17px !important;
        }
    }
}
@media only screen and (max-width: 498px) {
    .media-link {
        margin-right: 15px !important;
        .icon {
            margin-right: 0 !important;
        }
    }
    .header-wrapper {
        justify-content: center;
    }
}