%menu-link {
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    display: block;
    padding: 16px 0;
}
%quick-buttons {
    text-align: center;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4,126,179,.16);
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #047eb3;
    padding: 8px 6px;
    min-width: 134px;
}